<header>
    
    <ul id="menu">
        <li><a href="/miembros">Agregar miembros</a></li>
        <li><a href="/vehiculos">Agregar vehiculos</a></li>
        <li><a href="/ganadores">Ver ganadores</a></li>
        <li><a href="/nuevoSorteo">Realizar sorteo</a></li>
    </ul>

</header>