<header>
    
    <ul id="menu">
        <li><a href="/miembros">Miembros</a></li>
        <li><a href="/vehiculos">Vehiculos</a></li>
        <li><a href="/ganadores">Ganadores</a></li>
        <li><a href="/nuevoSorteo">Sorteo</a></li>
    </ul>

</header>