<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sorteo</title>
</head>
<body>
    {{>header}}

    <h1>Aqui tienes las opciones de los sorteos de Das Technologies</h1>

    <nav class="menu">
        <ul>
            <li><a href="/miembros">Agregar miembros</a></li>
            <li><a href="/ganadores">Ver ganadores</a></li>
            <li><a href="/nuevoSorteo">Realizar sorteo</a></li>
        </ul>
    </nav>

    {{>footer}}

</body>
</html>