<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sortea - DAS</title>
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="https://bootswatch.com/4/materia/bootstrap.min.css">
    {{>header}}
    <br>

    <p>Realizar sorteo</p>
    <p>Ver ganadores</p>
    
    <br>

    {{>footer}}

</body>
</html>