<!DOCTYPE html>

<html>

<head>
    <title>Das sorteos</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <div class="main-content">

    <div class="row">
      <div class="col-md-4 offset-md-4">
        <div class="card mt-4 text-center">
          <div class="card-header">
            <h1 class="h4">
              Iniciar Sesion
            </h1>
          </div>
            <img class="rounded-circle mx-auto d-block logo m-4" src="/img/daslogo.png" alt="Logo">
          <div class="card-body">
            <form action="/users" method="POST">
              <div class="form-group">
                <input type="text" class="form-control" name="name" placeholder="Name" autofocus>
              </div><br>
              <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Password">
              </div><br>
              <button class="btn btn-primary btn-block">
                Signin 
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

    {{>footer}}
    <script src="/js/sorteo.js"></script>

</body>

</html>
