<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Miembros</title>
</head>
<body>
    {{>header}}
    <div class="card card-body">
        <p>Agrega a un nuevo miembro</p> <br>
        <form action="/miembros" method="POST" >
            <div class="form-group">
                <label for="nombre">Nombre</label> <br>
                <input type="text" name="nombre" id="nombre" placeholder="Nombre" class="form-control"> <br>
            </div>

            <div class="form-group">
                <label for="foto">Foto de perfil</label> <br>
                <input type="file" name="foto" id="foto"> <br>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block"> Agregar </button>
            </div>
        </form>
    </div>
    <p>Miembros actuales</p>

    <!-- Aqui va a ir la tabla -->
    {{#each miembros}}
    <table>
        <label for="nombre">{{nombre}}</label> <br>
        <label for="foto">{{foto}}</label><br>
        <li><a href="/updateMiembro/{{_id}}" >Actualizar</a></li>
        <li><a href="/deleteMiembro/{{_id}}" >Eliminar</a></li>
    </table>
    {{/each}}


    {{>footer}}

</body>
</html>